{:deps {io.github.borkdude/quickblog
        #_"You use the newest SHA here:"
        {:git/sha "3a1d6aff07f692f6e62606317f3d9e981b1df702"}}
 :tasks
 {:requires ([quickblog.cli :as cli])
  :init (def opts {:blog-title "Gas & Zuri Spain Adventuras"
                   :blog-author "Gas"
                   :blog-root   "https://latrocha.tuatara.red"
                   :assets-dir  "assets"
                   :num-index-posts 10
                   :cache-dir ".cache"
                   :favicon  true
                   :favicon-dir "favicon"
                   :out-dir "public"
                   :posts-dir "posts"
                   :templates-dir "templates"
                   :blog-description "All the deets on our Madrid hang-out!  Posts are tagged for easy grouping - aka FAQ, biking etc"})
  quickblog {:doc "Start blogging quickly! Run `bb quickblog help` for details."
             :task (cli/dispatch opts)}

  print-classpath
  {:doc "Print the classpath for debugging purposes."
   :task (run! println (babashka.classpath/split-classpath (babashka.classpath/get-classpath)))}}}
